@import '~office-ui-fabric-react/dist/sass/References.scss';

.internalCare {

.materialICon{
  font-size: 1.4em;
}

.routeLinkSide_Burger{
padding-left: 5px;
padding-right: 5px;
font-size: 16px;
color: rgb(39, 84, 88)!important;
}

.materialICon_Burger{
padding-left: 5px;
padding-right: 5px;
color: rgb(39, 84, 88)!important;
}

.routeLinkSide{
padding-left: 5px;
padding-right: 5px;
color: white;
font-size: 18px;
}

.awesomeFontStyle{
font-size: 1.4em;
margin-right: 3px;
color:"white";
}

.awesomeFontStyleSide {
font-size: 1.4em;
margin-right: 3px;
}
}
